/* estilos de nav */
*{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/*header*/
header{
  position: fixed;
}
nav{
  padding: 30px;
  background-color: #2c3e50;

}
nav a{
  text-decoration: none;
  font-size: 15px;
}
  .titulo{
  font-weight: bold;
   font-size: 25px;
}
  .titulo:hover{
    color:white;
  }

a:hover{
  color:#18BC9C;
}

/*seccion azul*/
.separador{
 height: 105px;
 background-color: #18BC9C;

}
.seccion-azul{
  background-color: #18BC9C;
}
.arquitecto{
  padding-top:60px;
  margin-left: 70px;
}
.titulo-texto{
  font-size: 68px;
  text-align:justify;
  margin-top: 10px;
  margin-bottom: 2px;
}
/*separador estrella*/
.fa-star{
font-size: 25px;
position:relative;
text-align: center;


}
.estrellita{
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  height: 5px;
  width: 100px;
  margin-bottom: 10px;

}

/*texto descriptivo*/
.texto-descriptivo{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-align:center;
  margin-bottom: 100px;
}
/*seccion PORTAFOLIO*/
.centro{
  text-align:center;
}
.con-portafolio{
  margin-bottom: 100px;
}
.portafolio{
  text-align: center;
  color:#2c3e50;
  font-size: 50px;
  margin-bottom:0;
}
.portafolio-estrella{
  text-align: center;
  color:#2c3e50;
  margin-bottom: 20px;
}

.estrellita-azul{
  background-color:#2c3e50;
}
.imagenes-portafolio{
  width: 80%;
display: block;
margin: 0 auto;
}

/*seccion about*/
.about{
  padding-bottom: 80px;
}
.parrafitos{
  text-align: justify;
  padding: 20px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 20px;
}
.boton-descarga{
  text-align: center;
  border: white 1px solid;
  border-radius:7px;
  padding: 15px;
  background-color:#18BC9C;
  font-size:20px;
}
.boton-descarga:hover{
  background-color: white;
  color:#18BC9C;
}

/*SECCION CONTACT ME */
.container-formulario{
  padding: 70px;

}

  hr{
    width: 800px;
  }

  .datos{
   background-color: transparent;
   border: 0px solid;
   width: 800px;
   height: 20px;
   color: gray;
   font-size: 20px;
   padding:25px;
   font-family: 'Lato', sans-serif;
  }
  .mensaje{
    height: 180px;
  }
  .boton-send{
    height:50px;
    width: 80px;
    color:white;
    background-color:#18BC9C;
    padding: 15px;
    font-size: 18px;
    border-radius: 6px;
  }
  .spacio{
    height:70px;
  }
  /*informacion*/
  .informacion{
    background-color:#2C3E50;
    padding-bottom: 80px;
  }
  .colorcito{
    color:#18BC9C;
    display: inline;
  }
  .columnas-texto{
    font-size:24px;
    padding: 25px;
  }

  .circulo{
    display: inline;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    width: 35px;
    height: 35px;
    border: solid 2px white;
    border-radius: 50%
  }
.circulo > i:hover{
  color:#18BC9C;
  background-color: white;
}
.circulo:hover{
  background-color: white;
}

/*footer*/
footer{
  background-color:#233140;
  padding: 15px;
  text-align: center;
}
